@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');



body{

    background-color: hsl(233, 47%, 7%) ;
    color: hsl(0, 0%, 100%);
    padding:0;
    margin:0;
    justify-items: center;
    display: flex;
    justify-content: center;
    align-items:center;  
    

    
}




.grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 10%;
     margin-bottom: 30%;
    width: 53rem;
    height:10rem;
    justify-content:center;
   
   
    
}



.left-container {
    grid-column-start:1 ;
    grid-column-end: 2;
    grid-row-start:1 ;
    grid-row-end:2 ;
    background-color: hsl(244, 38%, 16%) ;
    justify-content: center;
    padding-right: 4rem;
    padding-top: 10%;
    padding-left: 3rem;
    font-family: Inter ;
   

}

.right-container {
    grid-column-start:2 ;
    grid-column-end: 3;
    grid-row-start:1 ;
    grid-row-end:2 ;
    background-color: hsl(277, 64%, 61%);
    background-blend-mode:multiply; 
    background-image: url(./images/image-header-desktop.jpg);
    background-size: cover;
      

}

img{
    width: 10rem;
    height:10rem;
    
}

ul {
    display:flex;
    list-style-type: none;
    justify-content:space-between;
    padding-left: 0;
    padding-top:7% ;
    padding-bottom: 2rem;
    text-align: justify;
    
}
li{
    
    display: grid; 
    justify-content:space-evenly;
    
    

}
.insights{
    color: hsl(277, 64%, 61%);

}

.mainPara{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: Inter ;
    padding-right: 1rem;
    padding-bottom: 1rem;
}
.simple{
    color: hsla(0, 0%, 100%, 0.6);
    font-size:15px;
    font-family: Inter ;
    text-transform: uppercase;
}

.high{
    font-size:25px;
    font-family: Inter ;
    font-weight: 700;

}


@media screen and (min-width: 1200px){


    body{

        background-color: hsl(233, 47%, 7%) ;
       
        
        color: hsl(0, 0%, 100%);
        
        justify-items: center;
        display: flex;
        
        justify-content: center;
        align-items:center;  
        
        
    
        
    }

       
    .grid-container{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr ;
        margin-right: 5%;
        margin-left:10%;
        width: 53rem;
        height:10rem;
        justify-content:center;
        margin-top:20%;
        margin-bottom: 30%;
    
          
        
    }

}



@media screen  and (max-width:540px) {
    
 
    
    body{

        background-color: hsl(233, 47%, 7%) ;
        margin: auto;
        color: hsl(0, 0%, 100%);
        justify-content: center;
          
        
    }
    

.grid-container{
    display:grid;
    grid-template-columns: 95% ;
    grid-template-rows: 35% 50%;
    width:20rem;
    height:75rem;
    min-height: 100vh;
    margin-right:2rem;
    margin-left:2rem;
    padding-bottom:1rem;
    
    
    
}

.left-container {
    grid-column-start:1 ;
    grid-column-end: 2;
    grid-row-start:2 ;
    grid-row-end:3 ;
    background-color: hsl(244, 38%, 16%) ;
    text-align:center;
    line-height: 1.5rem;
    
    
    
      
}

.right-container {
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start:1 ;
    grid-row-end:2 ;
    background-color: hsl(277, 64%, 61%);
    background-blend-mode:multiply; 
    background-image: url(./images/image-header-mobile.jpg);
    background-size:cover;
    background-repeat:no-repeat;
}

img{
    width:5rem;
    height:5rem;
    
}

ul {
   display:grid;
    list-style-type: none;
    vertical-align: middle;
       
    
}
li{
   padding-top: 0.5rem; 
   padding-left: 2.2rem; 
   text-align:left;
   line-height: 1.9rem;
   

}

.high{
    text-align:center;
    font-size:27px;
    font-family: Inter ;
    font-weight: 700;

}

}

